{
  "INTERNAL_CHECK": "",
  "URL_DISCORD": "",
  "URL_GTD": "",
  "URL_GTD_API": "",
  "URL_GTD_COMPANION_UPDATE": "",
  "URL_DISCORD_SUPPORT_CHANNEL": "",
  "URL_DISCORD_WELCOME_CHANNEL": "",
  "NEXTAPI_ENDPOINT": "",
  "NEXTAPI_APPID": "",
  "NEXTAPI_APPSECRET": "",
  "NEXTAPI_PROJECTID": ""
}
